<style type="text/css">
table, td.cabTitulo, td.cabNormal, #idB, #tabela_aux, td.direita2 {background: #FFFFFF !important; } table td , table.cabecalho, td.cabTitulo, td.cabNormal, #rowLegenda, td.td_titulo_linha, td.td_titulo_coluna, #td_exterior1, #td_exterior2, #td_interior1, #td_interior2 , #td_interior3, #td_interior4, #td_interior1C, #td_interior2C , #td_interior3C, #td_interior4C , #td_exterior2Vazia, #tabela_aux, a.a1:link, a.a1:visited, a.a1:hover, td.titDiscProf { color: #222222 !important; } table td, #rowLegenda, tr.tr_dif, td.td_titulo_linha, #td_exterior1, #td_exterior2, #td_interior1, #td_interior2 , #td_interior3, #td_interior4, #td_interior1C, #td_interior2C , #td_interior3C, #td_interior4C , #td_exterior2Vazia, #td_conteudo_exterior1, td.direita1,td.direita2, td.titDiscProf  { border-color: #DAE3BF !important; } td.td_corNormal {background-color: #FFFFFF !important; } td.td_corAlternada, #rowLegenda, td.td_titulo_linha, td.td_titulo_coluna, td.titDiscProf, #td_interior1C, #td_interior2C , #td_interior3C, #td_interior4C  {background-color: #EDF1E0 !important; } td.td_corNormal {color: #222222 !important; } td.td_corAlternada, #rowLegenda, td.td_titulo_linha, td.td_titulo_coluna, td.titDiscProf, #td_interior1C, #td_interior2C , #td_interior3C, #td_interior4C  {color: #222222 !important; } table td.td_cabecalho {background-color: #5E7E00 !important; } table td.td_lateral, #td_conteudo_exterior1, td.direita1 {background-color: #B5C77F !important; } table td.td_cabecalho { color: #FFFFFF !important; } table td.td_lateral { color: #FFFFFF !important; } table td { padding: 8px !important; } td.td_branca, tr.tr_branca { padding: 8px;}body { background-color: #fff; margin: 15px; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height: 20px; color: #222;}
body.body1 { font-size:12px; }
table { background: #fff; width: 100%; border-collapse: collapse; padding: 0; font-size: 12px; }
table td {border: 1px solid #DAE3BF; color: #222; background: #fff; text-align: center; border-collapse: collapse; line-height: 13px;}
table.cabecalho {font-size:12px; color:#222; }
table.cabecalho td { text-align: left; }
td.cabSubTit {background-color: #fff; min-width: 50px;width: 200px;max-width: 400px;}
td.cabTitulo {background-color: #fff; color: #222; }
td.cabNormal {background-color: #fff; color: #222; }
table td.td_cabecalho, table td.td_lateral {background-color: #5E7E00; color:#fff; font-size:13px; text-align:center; font-weight: 600;}
table td.td_lateral { background-color: #B5C77F; font-size: 13px; min-width: 80px; width: 80px; max-width: 80px; }
td.td_branca, tr.tr_branca {border: none; line-height: 0; }
table.tabela_principal { }
td.td_vermelha { background-color: #FF0000;}
td.td_corNormal { background-color: #FFF; color: #222; } 
td.td_corAlternada { background-color: #EDF1E0; color: #222; }
td.td_evento { }
td.td_evento_1 {background-color: #B0C4DE; border: 1px solid #000000; border-collapse: collapse;}
td.td_tipologia_2 {background-color: #B6D3B4; border: 1px solid #000000; border-collapse: collapse;}
td.td_tipologia_1 {background-color: #B0C4DE; border: 1px solid #000000; border-collapse: collapse;}

#rowLegenda {margin: 1px; border: 1px solid #DAE3BF; background-color: #EDF1E0; font-size: 9px; color: #222; text-decoration: none;}
tr.tr_dif {width:170px; border: 1px solid #DAE3BF; text-align:center;} /*controla largura das colunas*/
td.td_titulo_linha {border-bottom: 1px solid #DAE3BF; background-color: #EDF1E0; font-size:9px; color: #444; }
td.td_titulo_coluna {background-color: #EDF1E0; font-size:9px; color: #444; text-align: left;}
#td_conteudo_exterior1 {background-color: #B5C77F; font-size:9px; text-align: center; text-decoration:none; border:1px solid #DAE3BF; border-right: none ;}
#tabela_aux {background-color: #FFFFFF; font-size:9px; color:#222; text-align:center; font-weight:bold; line-height:16px;}
td.aux {border: none;}
#idB {background-color: #FFFFFF; width:10px; height:12px;}
#td_exterior1 {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; border-bottom:1px solid #DAE3BF; background-color: #FFFFFF; font-size:9px; color: #222; text-align: center; text-decoration:none; border-collapse:collapse;}
#td_exterior2 {border-top:0px; border-right:0px; border-left:1px solid #DAE3BF; border-bottom:1px solid #DAE3BF; font-size:9px; color:#222; text-align: center; text-decoration:none; border-collapse:collapse;}
#td_interior1 {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; font-size:9px; color: #222; text-decoration:none; border-collapse:collapse;}
#td_interior2 {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; border-right:1px solid #DAE3BF; font-size:9px; color: #222; text-decoration:none; border-collapse:collapse;}
#td_interior3 {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; border-bottom:1px solid #DAE3BF; font-size:9px; color: #222; text-decoration:none; border-collapse:collapse;}
#td_interior4 {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; border-bottom:1px solid #DAE3BF; border-right:1px solid #DAE3BF; font-size:9px; color:#222; text-decoration:none; border-collapse:collapse;}
#td_interior1C {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; font-size:9px; color: #222; text-decoration:none; border-collapse:collapse; background-color: #EDF1E0;}
#td_interior2C {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; border-right:1px solid #DAE3BF; font-size:9px; color: #222; text-decoration:none; border-collapse:collapse; background-color: #EDF1E0;}
#td_interior3C {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; border-bottom:1px solid #DAE3BF; font-size:9px; color: #222; text-decoration:none; border-collapse:collapse; background-color: #EDF1E0;}
#td_interior4C {border-top:1px solid #DAE3BF; border-left:1px solid #DAE3BF; border-bottom:1px solid #DAE3BF; border-right:1px solid #DAE3BF; font-size:9px; color: #222; text-decoration:none; border-collapse:collapse; background-color: #EDF1E0;}
#td_exterior2Vazia {border-top:0px; border-right:0px; border-left:1px solid #DAE3BF; border-bottom:0px; font-size:9px; color:#222; text-align: center; text-decoration:none; border-collapse:collapse;}
td.direita1 {border: 1px solid #DAE3BF; background-color: #B5C77F;}
td.direita2 {border: 1px solid #DAE3BF; background-color: #FFFFFF;}
a.a1 {cursor: pointer; text-decoration: none;}
a.a1:link {color: #222;}
a.a1:visited {color: #222;}
a.a1:hover {color: #222; text-decoration: underline;}
td.titDiscProf {border: 1px solid #DAE3BF; background-color: #EDF1E0; color: #444;}
:focus { -moz-outline-style: none; }

@media print { 
    body { margin: 0 !important; }
    table { font-size: 10px !important; }
    table td { border-color: #000 !important; color: #000 !important; }
    table td.td_cabecalho, table td.td_lateral { font-size:10px !important; color: #000 !important; }
}

</style>


